<div class="content">
      <div class="layout">
        <section class="drones-section">
          <div>
            <div class="drones">
              <ng-container *ngIf="this.drones.length">    
                    <app-drone-card
                    [droneData]="drone"
                    *ngFor="let drone of this.drones"
                    ></app-drone-card>
              </ng-container>
              <p *ngIf="!this.drones.length">No robot to display.</p>
            </div>
          </div>
        </section> 
        <div>
          <ng-container>
            <div class="missions">
              <app-mission
              ></app-mission>
            </div>
        </ng-container>
        </div>
        <div class="footer-item">
          <h2 class="team-name">Équipe 103</h2>
          <p>Zakaria Diabi, Sanmar Simon, Marc-Olivier Lemieux, Sinda Drira, Aram Zand</p>
      </div>
      </div>
  </div>
