<div class="content">
      <div class="layout">
        <section class="drones-section">
          <div class="slider-padding">
            <mat-slide-toggle (click)="this.onSliderClick()" [(ngModel)]="isSimulation" color="primary">Activate simulation mode</mat-slide-toggle>
          </div>

          <div class="title">
            <h1> Drones :</h1>
          </div>

          <!-- <div class="common-padding"> -->
            <div>
              <div class="drones">
                <ng-container *ngIf="this.realDrones.length && !isSimulation">
                  <div class="drones-cards">
                    <app-drone-card
                    [droneData]="drone"
                    *ngFor="let drone of this.realDrones"
                    ></app-drone-card>
                  </div>
                </ng-container>
                <ng-container *ngIf="this.simDrones.length && isSimulation">
                  <div class="drones-cards">
                    <app-drone-card
                    [droneData]="drone"
                    *ngFor="let drone of this.simDrones"
                    ></app-drone-card>
                  </div>
                </ng-container>
              </div>
            </div>
          <!-- </div> -->
        </section> 

        <div class="title">
          <h1> Missions :</h1>
        </div>

        <!-- <div class="title">
          <p> Ther is no drones in mission right now.</p>
        </div> -->
        
        <div class="missions">
          <svg width="300" height="200" #svg>
            <rect width="40" height="50" x="50%" y="50%" style="fill:rgb(250, 250, 250);stroke-width:5;stroke:rgb(6, 53, 21);" />
            <rect width="40" height="50" x="40%" y="50%" style="fill:rgb(240, 240, 247);stroke-width:5;stroke:rgb(6, 53, 21);" />
          </svg>
        </div>

        <div class="footer-item">
          <h2 class="team-name">Équipe 103</h2>
          <p>Zakaria Diabi, Sanmar Simon, Marc-Olivier Lemieux, Sinda Drira, Aram Zand</p>
      </div>
      </div>
  </div>
