.missions {
  display: flex;
  justify-content: center;
  // margin-left: ;
}
svg {
  width: 50%;
  height: 50%;
  min-width: 17rem;
  min-height: 17rem;
  text-align: center;
  background-color: azure;
}
