.sidebar {
    height: 100%;
    min-width: 150px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba($color: rgb(69, 126, 90), $alpha: 0.25);
    overflow: auto;
    user-select: none;
    padding: 10px;
    top: 100px;
}

.sidebar ul li div {
    min-height: 120px;
    min-width: 120px;
    background-color: rgb(93, 168, 143);
    border: 2px solid;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;    
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;

}
.sidebar ul li div span {
    color: rgba(255, 255, 255, 0.788);
    font-size: 2em;
    font-style: bold;
}