<nav class="sidebar">
    <ul>
        <li>
            <div [id]="toolLabels.Drones">
                <span>
                   {{toolLabels.Drones}}
                </span> 
            </div>
        </li>
        <li>
            <div [id]="toolLabels.Mission">
                <span>
                    {{toolLabels.Mission}}
                </span>

            </div>
        </li>
        <li>
            <div [id]="toolLabels.Log">
                <span>
                    {{toolLabels.Log}}
                </span>
            </div>
        </li>
    </ul>
</nav>