.mat-card {
  width: 15rem;
  border: 5px solid #4a4b52;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color: rgba($color: rgb(177, 248, 204), $alpha: 0.25);
  color: rgb(213, 221, 228);
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.mat-card-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(213, 221, 228);
}

.mat-card-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(213, 221, 228);
}

button {
  background-color: rgba($color: rgb(200, 218, 207), $alpha: 0.25);
}

.drones-cards {
  display: flex;
  margin-bottom: 1rem;

  
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0;
}

