.content {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // width: 100%;
  // height: 100%;
  padding: 2% 1%;
}

.title {
  margin-bottom: 3rem;
}

.text {
  //   font-weight: bold;
  font-size: large;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 15px;
  align-items: flex-start;
  font-weight: bold;
}

.example-radio-button {
  margin: 5px;
}
